@use './variables' as *;


.h1_link {
    text-decoration: none; 
    color: inherit;
}
.header_wave {
    width: 100%;
    height: 30px; //DO NOT TOUCH
    background-image: url('../assets/header-wave.svg');
    background-position-y: bottom;
    background-repeat: repeat-x;
    margin: 0;
    padding: 0;
}

.header_top {
    background-color: $principal-orange;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    text-align: center;
    
    h1, h2 {
    padding: 0;
    margin: 0 2rem;
    color: black;
    }

    form {
        padding: 3rem;
    }

}

