@use './variables' as *;


.h1_link {
    text-decoration: none; 
    color: inherit;
}
.header_wave {
    width: 100%;
    height: 30px; //DO NOT TOUCH
    background-image: url('./header-wave.svg');
    background-position-y: bottom;
    background-repeat: repeat-x;
    margin: 0;
    padding: 0;
}

.header_top {
    background-color: $principal-orange;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    text-align: center;
    
    h1, h2 {
    padding: 0;
    margin: 0 2rem;
    color: black;
    font-weight: bold;
    }

    img {
        width: 80%;
        max-height: 300px;
    }

    form {
        padding: 3rem;
    }

}

.button-search {
    border-radius: 1rem;
    padding: 0.25rem 0.5rem;
    border: 0;
    background-color: $principal-yellow;
    font-size: 1.2rem;
}

.button-search:hover {
    background-color: $principal-green;
}

.search-field {
    border-radius: 1rem;
    border: 1px;
    background-color: transparent;
    margin-right: 1rem;
    padding: 0.25rem 0.5rem;
    color: white;
    border: solid 1px $principal-yellow;
    max-width: 600px;
    font-size: 1.2rem;
}

input::placeholder {
    color: white;
    opacity: 1;
}