$principal-yellow: #FFCC00;
$principal-purple: #862DC2;
$principal-orange: #ff703e;
$principal-green: #89D63D;
$principal-gray: #CCC;

$purple-light:#CFA8E6;
$yellow-light: #FFEB99;
$green-light:#d0efb1;